/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dfdfdf;    
    padding: 8px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

td a {
    color: darkgreen;
    font-weight: bolder;
}

tr:nth-child(even) {
    background-color: #dfdfdf;
}