<h3>Welcome to {{title}} page</h3>

<div class="play-container">
    <p>You've clicked <a href="javascript:void(0)" (click)="countClick()" style="font-weight: bold;">this</a> {{clickCounter}} times.</p>
</div>

<div class="play-container">
    <p>
        <label>Your Name<br>
            <input type="text" [(ngModel)]="name">
        </label>
    </p>
    <p><span>{{name}}</span></p>
</div>

<div class="play-container">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>Counter is <strong style="background:red; padding: 5px; color: white;">GREATER</strong> than 4</p>
    </ng-template>

    <ng-template #none>
        <p>Counter is <strong style="background:green; padding: 5px; color: white;">LESS</strong> than 4</p>
    </ng-template>
</div>