<h3  style="text-align: center;">{{title}}</h3>

<table>
    <tr>
        <th colspan="3">{{beer.name}}</th>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{beer.phone}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{beer.street}}, {{beer.city}}, {{beer.postal_code}}, {{beer.state}}</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>{{beer.country}}</td>
    </tr>
    <tr>
        <th>Website</th>
        <td><a href="{{beer.website_url}}" target="_blank">{{beer.website_url}}</a></td>
    </tr>
</table>

<div class="back-btn"><a routerLink="/list">Back</a></div>